In [1]:
import pandas as pd

In [2]:
file_path = "./Task3/rawdata.xlsx"

df = pd.read_excel(file_path)
df.head()

        date      time  sensor location  number activity position location.1
0 2024-01-16  10:10:30     0.0       A1       1   placed   inside         A1
1 2024-01-16  10:12:30     1.0       A2       1   picked   inside         A2
2 2024-01-16  10:28:30     1.0       A3       1   picked   Inside         A3
3 2024-01-16  10:38:20     0.0       A4       1   placed   Inside         A4
4 2024-01-16  10:45:20     1.0       A5       1   placed   inside         A5

In [3]:
df['date_str'] = df['date'].astype(str)
df['time_str'] = df['time'].astype(str)

df

,date,time,sensor,location,number,activity,position,location.1,date_str,time_str
0,2024-01-16,10:10:30,0.0,A1,1,placed,inside,A1,2024-01-16,10:10:30
1,2024-01-16,10:12:30,1.0,A2,1,picked,inside,A2,2024-01-16,10:12:30
2,2024-01-16,10:28:30,1.0,A3,1,picked,Inside,A3,2024-01-16,10:28:30
3,2024-01-16,10:38:20,0.0,A4,1,placed,Inside,A4,2024-01-16,10:38:20
4,2024-01-16,10:45:20,1.0,A5,1,placed,inside,A5,2024-01-16,10:45:20
...,...,...,...,...,...,...,...,...,...,...
170,2024-01-18,12:45:05,0.0,A8,2,placed,inside,A8,2024-01-18,12:45:05
171,2024-01-18,12:53:10,1.0,A9,2,picked,inside,A9,2024-01-18,12:53:10
172,2024-01-18,12:59:10,1.0,A10,2,placed,outside,A10,2024-01-18,12:59:10
173,2024-01-18,13:10:20,1.0,A11,2,picked,Inside,A11,2024-01-18,13:10:20
174,2024-01-18,13:18:30,0.0,A12,2,placed,inside,A12,2024-01-18,13:18:30

In [5]:
df['datetime'] = pd.to_datetime(df['date_str'] + ' ' + df['time_str'])
df.drop(columns=['date_str', 'time_str'], inplace=True)
df['position'] = df['position'].str.lower()

In [6]:
df

,date,time,sensor,location,number,activity,position,location.1,datetime
0,2024-01-16,10:10:30,0.0,A1,1,placed,inside,A1,2024-01-16 10:10:30
1,2024-01-16,10:12:30,1.0,A2,1,picked,inside,A2,2024-01-16 10:12:30
2,2024-01-16,10:28:30,1.0,A3,1,picked,inside,A3,2024-01-16 10:28:30
3,2024-01-16,10:38:20,0.0,A4,1,placed,inside,A4,2024-01-16 10:38:20
4,2024-01-16,10:45:20,1.0,A5,1,placed,inside,A5,2024-01-16 10:45:20
...,...,...,...,...,...,...,...,...,...
170,2024-01-18,12:45:05,0.0,A8,2,placed,inside,A8,2024-01-18 12:45:05
171,2024-01-18,12:53:10,1.0,A9,2,picked,inside,A9,2024-01-18 12:53:10
172,2024-01-18,12:59:10,1.0,A10,2,placed,outside,A10,2024-01-18 12:59:10
173,2024-01-18,13:10:20,1.0,A11,2,picked,inside,A11,2024-01-18 13:10:20
174,2024-01-18,13:18:30,0.0,A12,2,placed,inside,A12,2024-01-18 13:18:30

In [8]:
df['duration'] = df['datetime'].diff().fillna(pd.Timedelta(seconds=0))

duration_data = df.groupby(['date', 'position'])['duration'].sum().reset_index()

activity_data = df.groupby(['date', 'activity']).size().reset_index(name='count')

combined_df = pd.merge(duration_data, activity_data, on=['date'], how='outer')

In [9]:
combined_df

        date position          duration activity  count
0 2024-01-16   inside -1 days +15:27:50   picked     40
1 2024-01-16   inside -1 days +15:27:50   placed     40
2 2024-01-17   inside   1 days 10:46:00   picked     10
3 2024-01-17   inside   1 days 10:46:00   placed      9
4 2024-01-18   inside   1 days 00:21:50   picked     37
5 2024-01-18   inside   1 days 00:21:50   placed     39
6 2024-01-18  outside   0 days 00:32:20   picked     37
7 2024-01-18  outside   0 days 00:32:20   placed     39

In [10]:
combined_df.to_csv('combined_data.csv', index=False)